html * {
  font-family: "Questrial", sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.add-task {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.completion-box {
  border: 2px solid white;
  width: 40px;
  height: 20px;
  margin-right: 40px;
}

#complete {
  background-color: green;
}

#incomplete {
  background-color: red;
}

.close-modal {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  width: 100px;
  height: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}

.close-modal:hover {
  background-color: rgba(255, 255, 255, 0.144);
}

.create-task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  background-image: url(https://mcdn.wallpapersafari.com/medium/91/89/4wMeor.jpg);
  background-size: cover;
}

.create-task form {
  margin-top: 10%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  width: 40%;
  color: white;
}

.create-task input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.create-task button {
  margin-left: 10px;
}

.create-task-button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  width: 300px;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.task input {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px 5px 5px 5px;
}

.task button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.task-form-operations {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
}

.task-form-button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  width: 50%;
  margin-top: 10px;
  cursor: pointer;
}

.task-button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.task-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 40%;
  width: 40%;
  border: 2px solid white;
  transform: translate(-50%, -50%);
}

.task-menu form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.task-menu-button {
  height: 75px;
  width: 15%;
  padding: 0px 10% 0px 10%;
}

.task-menu-button button {
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: 200%;
  border-radius: 2px;
}

.task-list {
  display: flex;
  flex-direction: column;
}

#righteous {
  background-color: rgba(0, 204, 255, 0.123);
  color: rgb(0, 255, 255);
  border: 2px solid rgba(0, 234, 255, 0.281);
}

#righteous:hover {
  background-color: rgba(0, 204, 255, 0.356);
}

#fallen {
  background-color: rgba(173, 0, 0, 0.123);
  color: rgb(255, 0, 0);
  border: 2px solid rgba(255, 0, 0, 0.281);
}

#fallen:hover {
  background-color: rgba(173, 0, 0, 0.356);
}

#red {
  background-color: rgb(255, 0, 0, 0.287);
}

#blue {
  background-color: rgba(0, 0, 255, 0.187);
}
